body{
  background-image:url(jungle.jpg);
  background-repeat:no-repeat;
  background-size: cover;
}

h1 {
  font-family: monospace;
  font-size: 80px;
  color: gold ;
  }

ul {
  font-family: cursive;
  font-size: 50px;
  color: yellow;
}

h2 {
  font-family:fantasy;
  color: brown;
}

a {
  color: yellow;
}

div {
  margin: 50px 50px;
}

p {
  color: yellow;
  font-size: 30px;
}

img {
  height: 300px;
  width: 300px;

}
